body{
  background-image: url("../public/img/Words.png");
  background-size: 400px;
}

.form-div{
  padding:20px;
  margin:0 auto;
  margin-top:25%;
  background-color:white;
  width:70%;
}

#word-form{
  padding:10px;
}

.header{
  margin:0 auto;
  padding-left:10%;
}

#results-div{
  display:none;
  width:50%;
  margin: 0 auto;
  margin-top:20px;
  background-color:white;
  padding:20px;
}

#results{
  margin:0 auto;
  margin-left:30%;
}

.show-results{
	transform:rotate(20deg);
	transition: transform;
	transition-delay: .5s;
	transition-timing-function: ease-in;

}


@media screen and (max-width: 600px){
#word-form{
  font-size:10px;
  padding-right:10px;

}

#results{
  font-size:10px;
  margin-left:20%;
}

}
