body{
  background-image: url("../public/img/Words.png");
  background-size: 400px;
}

.form-div{
  padding:20px;
  margin:0 auto;
  margin-top:25%;
  background-color:white;
  width:70%;
}

#word-form{
  padding:10px;
}

.header{
  margin:0 auto;
  padding-left:10%;
}


@media screen and (max-width: 600px){
#word-form{
  font-size:10px;
  padding-right:10px;

}

}
